@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  font-family: "Montserrat", sans-serif, Helvetica, sans-serif, Arial;
}
.home__nav {
  font-family: "Montserrat", sans-serif, Helvetica, sans-serif, Arial;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.home__nav__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.home__nav__ul__li {
  margin: 20px 30px;
  padding: 0;
}
.home__nav__ul__li__a {
  text-decoration: none;
  color: #000;
}
.home__nav__ul__li__a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgb(171, 37, 37);
  display: block;
  transition: width 0.3s;
}
.home__nav__ul__li__a:hover::after {
  width: 100%;
}
.home__hamburguer-nav {
  display: none;
  cursor: pointer;
}
.home__hamburguer-nav__bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: #000;
  border-radius: 4px 0px;
}
.home__main {
  margin-top: 100px;
}
.home__main__carousel-cont {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 15px 50px;
  position: relative;
}
.home__main__carousel-cont__link {
  display: none;
}
.home__main__carousel-cont__link:hover::before {
  display: block;
  content: "aaaaaaaaa";
  width: auto;
  height: 50px;
  color: white;
  background-color: black;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 333;
  transition: all 0.5s;
  border-radius: 20px;
  text-align: center;
}
.home__main__carousel-cont__slider {
  width: 1100%;
  display: flex;
  height: 100%;
  margin-left: -100%;
}
.home__main__carousel-cont__slider__section {
  width: 100%;
}
.home__main__carousel-cont__slider__section__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home__main__carousel-cont__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
.home__main__carousel-cont__btn:hover {
  background-color: #fff;
}
.home__main__carousel-cont__btn--left {
  left: 10px;
}
.home__main__carousel-cont__btn--right {
  right: 10px;
}

@media (max-width: 768px) {
  .home__main {
    margin-top: 150px;
  }
}
@media (max-width: 576px) {
  .home__nav {
    z-index: 999;
  }
  .home__nav__ul {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.98);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 100%;
    padding-top: 30%;
  }
  .home__nav__ul__li {
    margin: 20px 0px;
    padding: 0px;
  }
  .home__nav__ul__li__a {
    font-size: 1.3em;
    color: white;
  }
  .home__nav__ul__li__a:hover:active {
    transform: scale(1.1);
  }
  .home__nav__ul__li__a:hover::after {
    width: 0%;
  }
  .home__nav__ul.active {
    left: 0;
  }
  .home__hamburguer-nav {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 999;
  }
  .home__hamburguer-nav.active .home__hamburguer-nav__bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    transition: all 0.3s;
    background-color: #fff;
  }
  .home__hamburguer-nav.active .home__hamburguer-nav__bar:nth-child(2) {
    opacity: 0;
    transition: all 0.3s;
  }
  .home__hamburguer-nav.active .home__hamburguer-nav__bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    transition: all 0.3s;
    background-color: #fff;
  }
  .home__main {
    margin-top: 100px;
  }
  .home__main__carousel-cont {
    height: 500px;
  }
}
@media (min-width: 1280px) {
  .home__main {
    margin-top: 80px;
  }
  .home__main__carousel-cont {
    width: 75%;
    max-width: 2000px;
    box-shadow: 0 0 0 10px #fff, 0 15px 50px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.shop {
  font-family: "Montserrat", sans-serif, Helvetica, sans-serif, Arial;
}
.shop__nav {
  font-family: "Montserrat", sans-serif, Helvetica, sans-serif, Arial;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.shop__nav__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.shop__nav__ul__li {
  margin: 20px 30px;
  padding: 0;
}
.shop__nav__ul__li__a {
  text-decoration: none;
  color: #000;
}
.shop__nav__ul__li__a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgb(171, 37, 37);
  display: block;
  transition: width 0.3s;
}
.shop__nav__ul__li__a:hover::after {
  width: 100%;
}
.shop__hamburguer-nav {
  display: none;
  cursor: pointer;
}
.shop__hamburguer-nav__bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: #000;
  border-radius: 4px 0px;
}
.shop__main {
  position: relative;
  margin-top: 70px;
}
.shop__main__grid-1 {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}
.shop__main__grid-1__nav-cont__ul {
  list-style-type: none;
  margin: 10px;
  padding: 40px 20px 80px 20px;
  box-shadow: 5px 5px 20px 5px rgb(0, 0, 0);
}
.shop__main__grid-1__nav-cont__ul__index-one {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1.1em;
  font-weight: 700;
}
.shop__main__grid-1__nav-cont__ul__index-one__index-two {
  font-size: 1em;
  margin-bottom: 15px;
  margin-left: 10px;
  font-weight: 500;
}
.shop__main__grid-1__nav-cont__ul__index-one__index-two:hover {
  cursor: pointer;
  color: rgb(171, 37, 37);
  transform: scale(1.05);
}
.shop__main__grid-1__nav-cont__ul__index-one__index-two__index-three {
  margin-bottom: 15px;
  margin-left: 15px;
  font-weight: 500;
}
.shop__main__grid-1__nav-cont__ul__index-one__index-two__index-three::before {
  content: "⤷";
  padding: 0px 4px;
  transform: rotateY(180deg);
}
.shop__main__grid-1__nav-cont__ul__index-one__index-two__index-three:hover {
  cursor: pointer;
  color: rgb(171, 37, 37);
  transform: scale(1.05);
}
.shop__main__grid-1__shop-cont {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  justify-content: space-around;
  position: relative;
}
.shop__main__grid-1__shop-cont__go-cart-btn {
  width: auto;
  height: auto;
  padding: 12px 15px 15px 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  text-decoration: none;
  z-index: 999;
}
.shop__main__grid-1__shop-cont__go-cart-btn:active {
  background-color: rgb(0, 156, 0);
}
.shop__main__grid-1__shop-cont__go-cart-btn::before {
  content: "🛒";
  margin-right: 3px;
  font-size: 1.2em;
}
.shop__main__grid-1__shop-cont__modal-cart {
  visibility: hidden;
  top: -100%;
  position: absolute;
  z-index: 1;
  max-height: 30vh;
}
.shop__main__grid-1__shop-cont__modal-cart:target {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  width: auto;
  height: 100%;
  visibility: visible;
  transition: top 0.8s;
}
.shop__main__grid-1__shop-cont__modal-cart__content {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px black solid;
}
.shop__main__grid-1__shop-cont__modal-cart__content__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
}
.shop__main__grid-1__shop-cont__modal-cart__content__flex__p {
  font-size: 1.3em;
  font-weight: 500;
}
.shop__main__grid-1__shop-cont__modal-cart__content__flex__button-close {
  padding: 5px;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 50% 0%;
  cursor: pointer;
}
.shop__main__grid-1__shop-cont__modal-cart__content__flex__button-close:hover {
  background-color: rgba(216, 55, 55, 0.8);
}
.shop__main__grid-1__shop-cont__modal-cart__content__flex__button-close:active {
  background-color: rgb(216, 55, 55);
}
.shop__main__grid-1__shop-cont__modal-cart__content__priceProduct {
  margin-bottom: 10px;
  font-size: 1.1em;
  font-weight: 500;
}
.shop__main__grid-1__shop-cont__modal-cart__content__button-clear {
  padding: 5px;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 0% 25%;
  cursor: pointer;
}
.shop__main__grid-1__shop-cont__modal-cart__content__button-clear:hover {
  background-color: rgba(216, 55, 55, 0.8);
}
.shop__main__grid-1__shop-cont__modal-cart__content__button-clear:active {
  background-color: rgb(216, 55, 55);
}
.shop__main__grid-1__shop-cont__modal-cart__content__cartContainer {
  margin-bottom: 20px;
  max-height: 30vh;
  min-width: 200px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.shop__main__grid-1__shop-cont__modal-cart__content__cartContainer__products {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.4fr;
  align-items: center;
  line-height: 50px;
}
.shop__main__grid-1__shop-cont__modal-cart__content__cartContainer__products__cart-imgs--cart {
  transform: translateY(23%);
}
.shop__main__grid-1__shop-cont__modal-cart__content__cartContainer__products__delete-product {
  font-size: 1.3em;
  border-radius: 50% 0%;
  width: 35px;
  height: 40px;
  border: transparent 0 solid;
  cursor: pointer;
}
.shop__main__grid-1__shop-cont__modal-cart__content__cartContainer__products__delete-product:hover {
  background-color: rgba(216, 55, 55, 0.8);
}
.shop__main__grid-1__shop-cont__modal-cart__content__cartContainer__products__delete-product:active {
  background-color: rgb(216, 55, 55);
}
.shop__main__grid-1__shop-cont__modal-cart__content__cartContainer__products > * {
  margin-bottom: 5px;
}
.shop__main__grid-1__shop-cont__modal-cart__content__cartContainer__products > p::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  display: block;
  transition: width 0.3s;
}
.shop__main__grid-1__shop-cont__card {
  padding: 15px;
  list-style-type: none;
}
.shop__main__grid-1__shop-cont__card__img-cont {
  width: 200px;
  height: 250px;
  border: 5px solid #fff;
  box-shadow: 6px 6px 10px;
  margin-bottom: 15px;
  position: relative;
}
.shop__main__grid-1__shop-cont__card__img-cont__add-btn {
  display: block;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 13px 0px;
  border: 1px solid black;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 2px;
}
.shop__main__grid-1__shop-cont__card__img-cont__add-btn:active {
  background-color: rgba(0, 156, 0, 0.6);
}
.shop__main__grid-1__shop-cont__card__img-cont__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shop__main__grid-1__shop-cont__card__img-cont__img:hover {
  transform: scale(1.05);
  transition: all 0.5s;
  cursor: pointer;
}
.shop__main__grid-1__shop-cont__card__description-cont {
  padding: 0px 6px;
}
.shop__main__grid-1__shop-cont__card__description-cont__name {
  font-size: 1.1em;
  font-weight: 700;
}
.shop__main__grid-1__shop-cont__card__description-cont__size {
  font-style: italic;
}
.shop__main__grid-1__shop-cont__card__description-cont__price {
  font-weight: 500;
}

.biggerImgCont {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
}
.biggerImgCont__img-inside {
  position: absolute;
  width: 50%;
  height: 100%;
  transform: translate(50%);
  object-fit: contain;
}

.producto {
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1500px) {
  .shop__main__grid-1__shop-cont {
    grid-template-columns: auto auto auto auto auto;
  }
}
@media (max-width: 1500px) {
  .shop__main__grid-1__shop-cont {
    grid-template-columns: auto auto auto auto;
  }
}
@media (max-width: 1200px) {
  .shop__main__grid-1__shop-cont {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 866px) {
  .shop__main__grid-1__shop-cont {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 658px) {
  .shop__main__grid-1__shop-cont {
    grid-template-columns: auto;
  }
}
@media (max-width: 576px) {
  .shop__nav {
    z-index: 999;
  }
  .shop__nav__ul {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.98);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 100%;
    padding-top: 30%;
  }
  .shop__nav__ul__li {
    margin: 20px 0px;
    padding: 0px;
  }
  .shop__nav__ul__li__a {
    font-size: 1.3em;
    color: white;
  }
  .shop__nav__ul__li__a:hover:active {
    transform: scale(1.1);
  }
  .shop__nav__ul__li__a:hover::after {
    width: 0%;
  }
  .shop__nav__ul.active {
    left: 0;
  }
  .shop__hamburguer-nav {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 999;
  }
  .shop__hamburguer-nav.active .shop__hamburguer-nav__bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    transition: all 0.3s;
    background-color: #fff;
  }
  .shop__hamburguer-nav.active .shop__hamburguer-nav__bar:nth-child(2) {
    opacity: 0;
    transition: all 0.3s;
  }
  .shop__hamburguer-nav.active .shop__hamburguer-nav__bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    transition: all 0.3s;
    background-color: #fff;
  }
}
@media (max-width: 440px) {
  .shop__main {
    margin-top: 70px;
  }
  .shop__main__grid-1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .shop__main__grid-1__nav-cont {
    display: none;
  }
  .shop__main__grid-1__nav-cont__ul {
    list-style-type: none;
    margin: 10px;
    padding: 40px 20px 80px 20px;
    box-shadow: 5px 5px 20px 5px rgb(0, 0, 0);
  }
  .shop__main__grid-1__nav-cont__ul__index-one {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1.1em;
    font-weight: 700;
  }
  .shop__main__grid-1__nav-cont__ul__index-one__index-two {
    font-size: 1em;
    margin-bottom: 15px;
    margin-left: 10px;
    font-weight: 500;
  }
  .shop__main__grid-1__nav-cont__ul__index-one__index-two:hover {
    cursor: pointer;
    color: rgb(171, 37, 37);
    transform: scale(1.05);
  }
  .shop__main__grid-1__nav-cont__ul__index-one__index-two__index-three {
    margin-bottom: 15px;
    margin-left: 15px;
    font-weight: 500;
  }
  .shop__main__grid-1__nav-cont__ul__index-one__index-two__index-three::before {
    content: "⤷";
    padding: 0px 4px;
    transform: rotateY(180deg);
  }
  .shop__main__grid-1__nav-cont__ul__index-one__index-two__index-three:hover {
    cursor: pointer;
    color: rgb(171, 37, 37);
    transform: scale(1.05);
  }
  .shop__main__grid-1__shop-cont {
    grid-template-columns: auto;
    justify-content: center;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cart {
  font-family: "Montserrat", sans-serif, Helvetica, sans-serif, Arial;
}
.cart__nav {
  font-family: "Montserrat", sans-serif, Helvetica, sans-serif, Arial;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.cart__nav__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.cart__nav__ul__li {
  margin: 20px 30px;
  padding: 0;
}
.cart__nav__ul__li__a {
  text-decoration: none;
  color: #000;
}
.cart__nav__ul__li__a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgb(171, 37, 37);
  display: block;
  transition: width 0.3s;
}
.cart__nav__ul__li__a:hover::after {
  width: 100%;
}
.cart__hamburguer-nav {
  display: none;
  cursor: pointer;
}
.cart__hamburguer-nav__bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: #000;
  border-radius: 4px 0px;
}
.cart__main {
  position: relative;
  margin-top: 70px;
}

@media (max-width: 576px) {
  .cart__nav {
    z-index: 999;
  }
  .cart__nav__ul {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.98);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 100%;
    padding-top: 30%;
  }
  .cart__nav__ul__li {
    margin: 20px 0px;
    padding: 0px;
  }
  .cart__nav__ul__li__a {
    font-size: 1.3em;
    color: white;
  }
  .cart__nav__ul__li__a:hover:active {
    transform: scale(1.1);
  }
  .cart__nav__ul__li__a:hover::after {
    width: 0%;
  }
  .cart__nav__ul.active {
    left: 0;
  }
  .cart__hamburguer-nav {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 999;
  }
  .cart__hamburguer-nav.active .cart__hamburguer-nav__bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    transition: all 0.3s;
    background-color: #fff;
  }
  .cart__hamburguer-nav.active .cart__hamburguer-nav__bar:nth-child(2) {
    opacity: 0;
    transition: all 0.3s;
  }
  .cart__hamburguer-nav.active .cart__hamburguer-nav__bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    transition: all 0.3s;
    background-color: #fff;
  }
}
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

.about {
  font-family: "Montserrat", sans-serif, Helvetica, sans-serif, Arial;
}
.about__nav {
  font-family: "Montserrat", sans-serif, Helvetica, sans-serif, Arial;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.about__nav__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.about__nav__ul__li {
  margin: 20px 30px;
  padding: 0;
}
.about__nav__ul__li__a {
  text-decoration: none;
  color: #000;
}
.about__nav__ul__li__a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgb(171, 37, 37);
  display: block;
  transition: width 0.3s;
}
.about__nav__ul__li__a:hover::after {
  width: 100%;
}
.about__hamburguer-nav {
  display: none;
  cursor: pointer;
}
.about__hamburguer-nav__bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: #000;
  border-radius: 4px 0px;
}
.about__header {
  margin-top: 100px;
  margin-bottom: 40px;
}
.about__header__title {
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 90px;
  margin-bottom: 25px;
}
@media (max-width: 340px) {
  .about__header__title {
    font-size: 1.6em;
  }
}
.about__header__img {
  width: calc(50% + 100px);
  height: auto;
  transform: translate(calc(50% - 100px));
}
.about__main__title-1 {
  margin-left: 17px;
}
.about__main__title-1::after {
  content: ":";
}
@media (min-width: 1024px) {
  .about__main__title-1 {
    margin-left: 125px;
  }
}
.about__main__title-2 {
  margin-left: 17px;
}
.about__main__title-2::after {
  content: ":";
}
@media (min-width: 1024px) {
  .about__main__title-2 {
    margin-left: 125px;
  }
}
.about__main__title-3 {
  margin-left: 17px;
}
.about__main__title-3::after {
  content: ":";
}
@media (min-width: 1024px) {
  .about__main__title-3 {
    margin-left: 125px;
  }
}
.about__main__title-4 {
  margin-left: 17px;
}
.about__main__title-4::after {
  content: ":";
}
@media (min-width: 1024px) {
  .about__main__title-4 {
    margin-left: 125px;
  }
}
.about__main__description-0 {
  text-align: justify;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
  margin: 15px 50px 42px 50px;
  margin: 15px 25px 42px 25px;
}
@media (min-width: 1024px) {
  .about__main__description-0 {
    margin: 15px 150px 42px 150px;
  }
}
.about__main__description-1 {
  text-align: justify;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
  margin: 15px 50px 42px 50px;
}
@media (min-width: 1024px) {
  .about__main__description-1 {
    margin: 15px 150px 42px 150px;
  }
}
.about__main__description-2 {
  text-align: justify;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
  margin: 15px 50px 42px 50px;
}
@media (min-width: 1024px) {
  .about__main__description-2 {
    margin: 15px 150px 42px 150px;
  }
}
.about__main__description-2__a {
  margin-bottom: 100px;
  color: #000;
}
.about__main__description-2__a:hover {
  color: #0645AD;
}
.about__main__description-2__a:visited {
  color: #800080;
}
.about__main__description-3 {
  text-align: justify;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
  margin: 15px 50px 42px 50px;
}
@media (min-width: 1024px) {
  .about__main__description-3 {
    margin: 15px 150px 42px 150px;
  }
}
.about__main__description-4 {
  text-align: justify;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
  margin: 15px 50px 42px 50px;
}
@media (min-width: 1024px) {
  .about__main__description-4 {
    margin: 15px 150px 42px 150px;
  }
}

@media (min-width: 1200px) {
  .about {
    font-family: "Montserrat", sans-serif, Helvetica, sans-serif, Arial;
  }
  .about__nav {
    font-family: "Montserrat", sans-serif, Helvetica, sans-serif, Arial;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
  }
  .about__nav__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  .about__nav__ul__li {
    margin: 20px 30px;
    padding: 0;
  }
  .about__nav__ul__li__a {
    text-decoration: none;
    color: #000;
  }
  .about__nav__ul__li__a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgb(171, 37, 37);
    display: block;
    transition: width 0.3s;
  }
  .about__nav__ul__li__a:hover::after {
    width: 100%;
  }
  .about__hamburguer-nav {
    display: none;
    cursor: pointer;
  }
  .about__hamburguer-nav__bar {
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px auto;
    transition: all 0.3 ease-in-out;
    background-color: #000;
    border-radius: 4px 0px;
  }
  .about__header {
    margin-top: 100px;
  }
  .about__header__title {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 90px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) and (max-width: 340px) {
  .about__header__title {
    font-size: 1.6em;
  }
}
@media (min-width: 1200px) {
  .about__header__img {
    width: 700px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (max-width: 576px) {
  .about__nav {
    z-index: 999;
  }
  .about__nav__ul {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.98);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 100%;
    padding-top: 30%;
  }
  .about__nav__ul__li {
    margin: 20px 0px;
    padding: 0px;
  }
  .about__nav__ul__li__a {
    font-size: 1.3em;
    color: white;
  }
  .about__nav__ul__li__a:hover:active {
    transform: scale(1.1);
  }
  .about__nav__ul__li__a:hover::after {
    width: 0%;
  }
  .about__nav__ul.active {
    left: 0;
  }
  .about__hamburguer-nav {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 999;
  }
  .about__hamburguer-nav.active .about__hamburguer-nav__bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    transition: all 0.3s;
    background-color: #fff;
  }
  .about__hamburguer-nav.active .about__hamburguer-nav__bar:nth-child(2) {
    opacity: 0;
    transition: all 0.3s;
  }
  .about__hamburguer-nav.active .about__hamburguer-nav__bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    transition: all 0.3s;
    background-color: #fff;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact {
  font-family: "Montserrat", sans-serif, Helvetica, sans-serif, Arial;
}
.contact__nav {
  font-family: "Montserrat", sans-serif, Helvetica, sans-serif, Arial;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.contact__nav__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.contact__nav__ul__li {
  margin: 20px 30px;
  padding: 0;
}
.contact__nav__ul__li__a {
  text-decoration: none;
  color: #000;
}
.contact__nav__ul__li__a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgb(171, 37, 37);
  display: block;
  transition: width 0.3s;
}
.contact__nav__ul__li__a:hover::after {
  width: 100%;
}
.contact__hamburguer-nav {
  display: none;
  cursor: pointer;
}
.contact__hamburguer-nav__bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: #000;
  border-radius: 4px 0px;
}
.contact__main {
  margin-top: 100px;
}
.contact__main__title {
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 90px;
}
@media (max-width: 340px) {
  .contact__main__title {
    font-size: 1.6em;
  }
}
.contact__main__mail-cont {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  font-size: 1.2em;
}
.contact__main__mail-cont__btn {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.contact__main__mail-cont__btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(171, 37, 37);
  border-radius: 10rem;
  z-index: -2;
}
.contact__main__mail-cont__btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #6c1717;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.contact__main__mail-cont__btn:hover {
  color: #fff;
}
.contact__main__mail-cont__btn:hover::before {
  width: 100%;
}
.contact__main__mail-cont__btn:active {
  transform: scale(0.9);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.contact__main__tlf-cont {
  display: grid;
  justify-items: center;
  margin-bottom: 80px;
}
.contact__main__tlf-cont__btn {
  display: inline-block;
  cursor: pointer;
  background: radial-gradient(100% 100% at 100% 0%, rgb(255, 83, 83) 0%, rgb(171, 37, 37) 100%);
  box-shadow: 0px 2px 4px rgba(45, 35, 66, 0.4), 0px 7px 13px -3px rgba(45, 35, 66, 0.3), inset 0px -3px 0px rgba(171, 37, 37, 0.5);
  border-radius: 6px;
  padding: 6px;
  color: #fff;
  height: 100%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}
.contact__main__tlf-cont__btn:hover {
  box-shadow: 0px 4px 8px rgba(45, 35, 66, 0.4), 0px 7px 13px -3px rgba(45, 35, 66, 0.3), inset 0px -3px 0px rgb(171, 37, 37);
  transform: translateY(-2px);
}
.contact__main__tlf-cont__btn:active {
  box-shadow: inset 0px 3px 7px rgb(171, 37, 37);
  transform: translateY(2px);
}
.contact__main__tlf-cont__btn__img {
  width: 80px;
}
.contact__main__tlf-cont__numero {
  margin-top: 10px;
  font-size: 1.2em;
}
.contact__main__redes-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.contact__main__redes-cont__instagram-cont, .contact__main__redes-cont__facebook-cont {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  place-items: center;
  padding: 10px;
}
.contact__main__redes-cont__instagram-cont__img, .contact__main__redes-cont__facebook-cont__img {
  width: 60px;
}
.contact__main__redes-cont__instagram-cont__img:hover, .contact__main__redes-cont__facebook-cont__img:hover {
  filter: drop-shadow(0px 0px 20px rgb(194, 17, 218));
}
.contact__main__redes-cont__instagram-cont__p, .contact__main__redes-cont__facebook-cont__p {
  font-size: 1.1em;
}
.contact__main__redes-cont__facebook-cont__img:hover {
  filter: drop-shadow(6px 6px 10px rgb(45, 89, 170));
}

@media (max-width: 576px) {
  .contact__nav {
    z-index: 999;
  }
  .contact__nav__ul {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.98);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 100%;
    padding-top: 30%;
  }
  .contact__nav__ul__li {
    margin: 20px 0px;
    padding: 0px;
  }
  .contact__nav__ul__li__a {
    font-size: 1.3em;
    color: white;
  }
  .contact__nav__ul__li__a:hover:active {
    transform: scale(1.1);
  }
  .contact__nav__ul__li__a:hover::after {
    width: 0%;
  }
  .contact__nav__ul.active {
    left: 0;
  }
  .contact__hamburguer-nav {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 999;
  }
  .contact__hamburguer-nav.active .contact__hamburguer-nav__bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    transition: all 0.3s;
    background-color: #fff;
  }
  .contact__hamburguer-nav.active .contact__hamburguer-nav__bar:nth-child(2) {
    opacity: 0;
    transition: all 0.3s;
  }
  .contact__hamburguer-nav.active .contact__hamburguer-nav__bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    transition: all 0.3s;
    background-color: #fff;
  }
}
@media (max-width: 250px) {
  .contact__main__mail-cont {
    font-size: 1em;
  }
  .contact__main__mail-cont__btn {
    padding: 0.75rem 0.75rem;
    letter-spacing: 0.05rem;
  }
}

/*# sourceMappingURL=app.css.map */
