@import "../clases", "../variables";

*, *::after, *::before{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
}

// ABOUT
.about{ //body (of contact page)
    font-family: 'Montserrat', sans-serif, Helvetica, sans-serif, Arial;
    // background:{
    //     image: url('../src/img/example.jpg');
    // }
    // background: radial-gradient(ellipse at top, #cf7676, transparent),
    //         radial-gradient(ellipse at bottom, #424ebd, transparent);
    // height: 100vh;

    &__nav{
        @include navbar();
    }
    &__hamburguer-nav{
        display: none;
        cursor: pointer;
        
        &__bar{
            @include hamburguer-btn();
        }
    }
    &__header{
        margin-top: 100px;
        
        &__title{
            @include header-title();
            margin-bottom: 25px;
        }
        &__img{
            width: 50%;
            height: 40%;
            transform: translate(50%);
        }
    }

    &__main{

        &__title-1{
            @include about-title();
        }
        &__title-2{
            @include about-title();
        }
        &__title-3{
            @include about-title();
        }
        &__title-4{
            @include about-title();
        }
        &__description-0{
            @include about-description();
            margin: 15px 25px 42px 25px; // 25px (left & right)
        }
        &__description-1{
            @include about-description();
        }
        &__description-2{
            @include about-description();
        }
        &__description-3{
            @include about-description();
        }
        &__description-4{
            @include about-description();
        }
    }
}

//MEDIA QUERIES
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .about{ //body (of contact page)
        font-family: 'Montserrat', sans-serif, Helvetica, sans-serif, Arial;
        // background:{
        //     image: url('../src/img/example.jpg');
        // }
        // background: radial-gradient(ellipse at top, #cf7676, transparent),
        //         radial-gradient(ellipse at bottom, #424ebd, transparent);
        // height: 100vh;
    
        &__nav{
            @include navbar();
        }
        &__hamburguer-nav{
            display: none;
            cursor: pointer;
            
            &__bar{
                @include hamburguer-btn();
            }
        }
        &__header{
            margin-top: 100px;
            
            &__title{
                @include header-title();
                margin-bottom: 25px;
            }
            &__img{
                width: 500px;
                height: auto;
                position: relative;
                left: 50%;
                transform: translate(-50%);
            }
        }
    }
}
// Large devices (desktops, 992px and up)
@media (max-width: 1200px) {}

// Medium devices (tablets, 768px and up)
@media (max-width: 992px) {}

// Landscape phones (576px and up)
@media (max-width: 768px) {}

// Portrait phones (340px and up)
@media (max-width: 576px) {
    .about{
        @include responsivenavs();
    }
}

//  Smart phones (0px and up)
@media (max-width: 340px) {}
