@import "../clases", "../variables";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// HOME
.home{ //body (of contact page)
    font-family: 'Montserrat', sans-serif, Helvetica, sans-serif, Arial;
    // background:{
    //     image: url('../src/img/example.jpg');
    // }
    // background: radial-gradient(ellipse at right, rgb(255, 255, 255), transparent), radial-gradient(ellipse at left, #000, transparent);
    // height: 100vh;

    &__nav{
        @include navbar();
    }
    &__hamburguer-nav{
        display: none;
        cursor: pointer;
        
        &__bar{
            @include hamburguer-btn();
        }
    }
    &__main{
        margin-top: 100px;
    }
}

//MEDIA QUERIES
// Extra large devices (large desktops, 1200px and up)
// No media queries

// Large devices (desktops, 992px and up)
@media (max-width: 1200px) {}

// Medium devices (tablets, 768px and up)
@media (max-width: 992px) {}

// Landscape phones (576px and up)
@media (max-width: 768px) {
    // HOME
    .home{
        &__main{
            margin-top: 150px;
        }
    }
}

// Portrait phones (340px and up)
@media (max-width: 576px) {
    .home{
        @include responsivenavs();
    }
}

//  Smart phones (0px and up)
@media (max-width: 340px) {}

// Carousel responsive
@media (max-height: 883px) {
    .home{
        &__main{
            margin-top: 80px;
            background-color: black;
        }
    }
    .carousel, .slide{
        left: 50%;
        transform: translate(-50%);
        width: 75%;
    }
}