@import "../clases", "../variables";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// SHOP
.shop{ //body (of contact page)
    font-family: 'Montserrat', sans-serif, Helvetica, sans-serif, Arial;
    // background:{
    //     image: url('../src/img/example.jpg');
    // }
    // background: radial-gradient(ellipse at top, #cf7676, transparent),
    //         radial-gradient(ellipse at bottom, #424ebd, transparent);
    // height: 100vh;

    &__nav{
        @include navbar();
    }
    &__hamburguer-nav{
        display: none;
        cursor: pointer;
        
        &__bar{
            @include hamburguer-btn();
        }
    }
    &__main{
        position: relative;
        margin-top: 70px;

        &__grid-1{
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto;

            &__nav-cont{
                // border: red 2px solid;

                &__ul{
                    list-style-type: none;
                    margin: 10px;
                    padding: 40px 20px 80px 20px;
                    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 1);
                    
                    &__index-one{
                        margin-top: 10px;
                        margin-bottom: 15px;
                        font-size: 1.1em;
                        font-weight: 700;

                        // &--checkbox{

                        // }

                        &__index-two{
                            font-size: 1em;
                            margin-bottom: 15px;
                            margin-left: 10px;
                            font-weight: 500;

                            &:hover{
                                cursor: pointer;
                                color: $red;
                                transform: scale(1.05);

                            }
                            &__index-three{
                                margin-bottom: 15px;
                                margin-left: 15px;
                                font-weight: 500;

                                &::before{
                                    content: '⤷';
                                    padding: 0px 4px;
                                    transform: rotateY(180deg);
                                }
                                &:hover{
                                    cursor: pointer;
                                    color: $red;
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }
                }
            }
            &__shop-cont{
                // border: #000 2px solid;

                display: grid;
                grid-template-columns: auto auto auto auto;
                grid-template-rows: auto;
                justify-content: space-around;
                position: relative;

                &__go-cart-btn{
                    // display: block;
                    width: auto;
                    height: auto;
                    padding: 12px 15px 15px 15px;
                    background-color: #000;
                    border-radius: 10px;
                    color: #fff;
                    position: fixed;
                    bottom: 20px;
                    right: 20px;
                    cursor: pointer;
                    text-decoration: none;
                    z-index: 999;

                    &:active{
                        background-color: rgb(0, 156, 0);
                    }
                    &::before{
                        content: "🛒";
                        margin-right: 3px;
                        font-size: 1.2em;
                    }
                }
                //MODAL CART
                &__modal-cart{
                    visibility: hidden;
                    top: -100%;
                    position: absolute;
                    z-index: 1;
                    max-height: 30vh;
                                    
                    &:target{
                        position: fixed;
                        left: 50%;
                        top: 30%;
                        transform: translate(-50%);
                        width: auto;
                        height: 100%;
                        visibility: visible;
                        transition: top .8s;
                    }

                    &__content{
                        padding: 20px;
                        background-color: #fff;
                        border-radius: 5px;
                        border: 2px black solid;

                        &__flex{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: space-between;
                            margin-bottom: 10px;

                            &__p{
                                font-size: 1.3em;
                                font-weight: 500;
                            }

                            &__button-close{
                                padding: 5px;
                                border: 1px solid black;
                                background-color: #fff;
                                border-radius: 50% 0%;
                                cursor: pointer;

                                &:hover{
                                    background-color: rgba(216, 55, 55, 0.8);
                                }
                                &:active{
                                    background-color: rgb(216, 55, 55);
                                }
                            } 
                        }
                        &__priceProduct{
                            margin-bottom: 10px;
                            font-size: 1.1em;
                            font-weight: 500;
                        }
                        &__button-clear{
                            padding: 5px;
                            border: 1px solid black;
                            background-color: #fff;
                            border-radius: 0% 25%;
                            cursor: pointer;

                            &:hover{
                                background-color: rgba(216, 55, 55, 0.8);
                            }
                            &:active{
                                background-color: rgb(216, 55, 55);
                            }
                        }
                        
                        &__cartContainer{
                            margin-bottom: 20px;
                            max-height: 30vh;
                            min-width: 200px;
                            overflow-y: auto;
                            scroll-behavior: smooth;

                            &__products{
                                display: grid;
                                grid-template-columns: .5fr 1fr .5fr .4fr;
                                align-items: center;
                                line-height: 50px;

                                &__cart-imgs--cart{
                                    transform: translateY(23%);
                                    // border: 2px groove transparent;

                                    // &__active{
                                    //     border: 2px groove green;
                                    // }
                                }
                                
                                &__delete-product{
                                    font-size: 1.3em;
                                    border-radius: 50% 0%;
                                    width: 35px;
                                    height: 40px;
                                    border: transparent 0 solid;
                                    cursor: pointer;

                                    &:hover{
                                        background-color: rgba(216, 55, 55, 0.8);
                                    }
                                    &:active{
                                        background-color: rgb(216, 55, 55);
                                    }
                                }

                                & > *{
                                    margin-bottom: 5px;
                                }
                                & > p::after{
                                    content: "";
                                    width: 100%;
                                    height: 1px;
                                    background-color: #000;
                                    display: block;
                                    transition: width 0.3s;
                                }
                            }
                           
                        }
                    }
                }

                &__card{
                    @include card();
                }
            }
        }
    }
}
//FOR JavaScript
//AMPLIAR IMAGENES
.biggerImgCont{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);

    &__img-inside{
        position: absolute;
        width: 50%;
        height: 100%;
        transform: translate(50%);
        object-fit: contain;
    }
}
//JS CART
.producto{
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, .3);
}

//MEDIA QUERIES
// Extra-big large devices (large desktops, 1500px and up)
@media (min-width: 1500px) {
    .shop{ //body (of contact page)
        &__main{
            &__grid-1{
                &__shop-cont{
                    grid-template-columns: auto auto auto auto auto;
                }
            }
        }
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1500px) {
    .shop{ //body (of contact page)
        &__main{
            &__grid-1{
                &__shop-cont{
                    grid-template-columns: auto auto auto auto;
                }
            }
        }
    }
}

// Large devices (desktops, 866px and up)
@media (max-width: 1200px) {
    .shop{ //body (of contact page)
        &__main{
            &__grid-1{
                &__shop-cont{
                    grid-template-columns: auto auto auto;
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 866px) {
    .shop{ //body (of contact page)
        &__main{
            &__grid-1{
                &__shop-cont{
                    grid-template-columns: auto auto;
                }
            }
        }
    }
}

// Landscape phones (576px and up)
@media (max-width: 768px) {}

// Portrait phones (340px and up)
@media (max-width: 658px) {
    .shop{
        &__main{
            &__grid-1{
                &__shop-cont{
                    grid-template-columns: auto;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .shop{
        @include responsivenavs();
    }
}

// //Personalizado
// @media (max-width: 485px) {
//     .shop{
//         @include responsivenavs();
//     }
// }

//  Smart phones (0px and up)
@media (max-width: 440px) {
    .shop__main{
        margin-top: 70px;

        &__grid-1{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;

            &__nav-cont{
                display: none;
                // border: red 2px solid;

                &__ul{
                    list-style-type: none;
                    margin: 10px;
                    padding: 40px 20px 80px 20px;
                    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 1);
                    
                    &__index-one{
                        margin-top: 10px;
                        margin-bottom: 15px;
                        font-size: 1.1em;
                        font-weight: 700;

                        // &--checkbox{

                        // }

                        &__index-two{
                            font-size: 1em;
                            margin-bottom: 15px;
                            margin-left: 10px;
                            font-weight: 500;

                            &:hover{
                                cursor: pointer;
                                color: $red;
                                transform: scale(1.05);

                            }
                            &__index-three{
                                margin-bottom: 15px;
                                margin-left: 15px;
                                font-weight: 500;

                                &::before{
                                    content: '⤷';
                                    padding: 0px 4px;
                                    transform: rotateY(180deg);
                                }
                                &:hover{
                                    cursor: pointer;
                                    color: $red;
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }
                }
            }
            &__shop-cont{
                grid-template-columns: auto;
                justify-content: center;
            }
        }
    }
}
