@import "../clases", "../variables";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// SHOP
.shop{ //body (of contact page)
    font-family: 'Montserrat', sans-serif, Helvetica, sans-serif, Arial;
    // background:{
    //     image: url('../src/img/example.jpg');
    // }
    // background: radial-gradient(ellipse at top, #cf7676, transparent),
    //         radial-gradient(ellipse at bottom, #424ebd, transparent);
    // height: 100vh;

    &__nav{
        @include navbar();
    }
    &__hamburguer-nav{
        display: none;
        cursor: pointer;
        
        &__bar{
            @include hamburguer-btn();
        }
    }
    &__main{
        margin-top: 70px;

        &__grid-1{
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto;

            &__nav-cont{
                // border: red 2px solid;

                &__ul{
                    list-style-type: none;
                    margin: 10px;
                    padding: 40px 20px 80px 20px;
                    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 1);
                    
                    &__index-one{
                        margin-top: 10px;
                        margin-bottom: 15px;
                        font-size: 1.1em;
                        font-weight: 700;

                        &--checkbox{

                        }

                        &__index-two{
                            font-size: 1em;
                            margin-bottom: 15px;
                            margin-left: 10px;
                            font-weight: 500;

                            &:hover{
                                cursor: pointer;
                                color: $red;
                                transform: scale(1.05);

                            }
                            &__index-three{
                                margin-bottom: 15px;
                                margin-left: 15px;
                                font-weight: 500;

                                &::before{
                                    content: '⤷';
                                    padding: 0px 4px;
                                    transform: rotateY(180deg);
                                }
                                &:hover{
                                    cursor: pointer;
                                    color: $red;
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }
                }
            }
            &__shop-cont{
                // border: #000 2px solid;

                display: grid;
                grid-template-columns: auto auto auto auto;
                grid-template-rows: auto;
                justify-content: space-around;

                &__card{
                    @include card();
                }
            }
        }
    }
}

//MEDIA QUERIES
// Extra-big large devices (large desktops, 1500px and up)
@media (min-width: 1500px) {
    .shop{ //body (of contact page)
        &__main{
            &__grid-1{
                &__shop-cont{
                    grid-template-columns: auto auto auto auto auto;
                }
            }
        }
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1500px) {
    .shop{ //body (of contact page)
        &__main{
            &__grid-1{
                &__shop-cont{
                    grid-template-columns: auto auto auto auto;
                }
            }
        }
    }
}

// Large devices (desktops, 866px and up)
@media (max-width: 1200px) {
    .shop{ //body (of contact page)
        &__main{
            &__grid-1{
                &__shop-cont{
                    grid-template-columns: auto auto auto;
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 866px) {
    .shop{ //body (of contact page)
        &__main{
            &__grid-1{
                &__shop-cont{
                    grid-template-columns: auto auto;
                }
            }
        }
    }
}

// Landscape phones (576px and up)
@media (max-width: 768px) {}

// Portrait phones (340px and up)
@media (max-width: 658px) {
    .shop{
        &__main{
            &__grid-1{
                &__shop-cont{
                    grid-template-columns: auto;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .shop{
        @include responsivenavs();
    }
}

// //Personalizado
// @media (max-width: 485px) {
//     .shop{
//         @include responsivenavs();
//     }
// }

//  Smart phones (0px and up)
@media (max-width: 440px) {
    .shop__main{
        margin-top: 70px;

        &__grid-1{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;

            &__nav-cont{
                display: none;
                // border: red 2px solid;

                &__ul{
                    list-style-type: none;
                    margin: 10px;
                    padding: 40px 20px 80px 20px;
                    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 1);
                    
                    &__index-one{
                        margin-top: 10px;
                        margin-bottom: 15px;
                        font-size: 1.1em;
                        font-weight: 700;

                        &--checkbox{

                        }

                        &__index-two{
                            font-size: 1em;
                            margin-bottom: 15px;
                            margin-left: 10px;
                            font-weight: 500;

                            &:hover{
                                cursor: pointer;
                                color: $red;
                                transform: scale(1.05);

                            }
                            &__index-three{
                                margin-bottom: 15px;
                                margin-left: 15px;
                                font-weight: 500;

                                &::before{
                                    content: '⤷';
                                    padding: 0px 4px;
                                    transform: rotateY(180deg);
                                }
                                &:hover{
                                    cursor: pointer;
                                    color: $red;
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }
                }
            }
            &__shop-cont{
                grid-template-columns: auto;
                justify-content: center;
            }
        }
    }
}
