@import "../clases", "../variables";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// SHOP
.shop{ //body (of contact page)
    font-family: 'Montserrat', sans-serif, Helvetica, sans-serif, Arial;
    // background:{
    //     image: url('../src/img/example.jpg');
    // }
    // background: radial-gradient(ellipse at top, #cf7676, transparent),
    //         radial-gradient(ellipse at bottom, #424ebd, transparent);
    // height: 100vh;

    &__nav{
        @include navbar();
    }
    &__hamburguer-nav{
        display: none;
        cursor: pointer;
        
        &__bar{
            @include hamburguer-btn();
        }
    }
    &__header{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        place-items: center;

        &__title{
            text-align: center;
            font-size: 1.4em;
            font-weight: 600;
        }
        &__img{
            width: 50%;
        }
    }
}

//MEDIA QUERIES
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .shop{ //body (of contact page)
        &__header{
    
            &__title{
                text-align: center;
                font-size: 1.6em;
                font-weight: 600;
            }
            &__img{
                width: 500px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1200px) {}

// Medium devices (tablets, 768px and up)
@media (max-width: 992px) {}

// Landscape phones (576px and up)
@media (max-width: 768px) {}

// Portrait phones (340px and up)
@media (max-width: 576px) {
    .shop{
        @include responsivenavs();
    }
}

// //Personalizado
// @media (max-width: 485px) {
//     .shop{
//         @include responsivenavs();
//     }
// }

//  Smart phones (0px and up)
@media (max-width: 340px) {}
